@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/******** Navbar ******/
.navbar {
  background-color: #5a1eb9;
}
.navbar-brand {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.navbar-brand:hover {
  color: #bbb;
}
li {
  padding: 5px 5px;
}

.link {
  margin-top: auto;
  color: white !important;
  transition: 2s ease-in-out;
}
.link:hover {
  text-decoration: none !important;
  /*background-color: #555; */
}
.logo-navbar {
  width: 40px;
  height: 40px;
}
.add-deal-btn {
  padding: 5px 5px;
  color: white;
  background-color: #cb0098;
  transition: 0.5s ease-in-out;
}
.add-deal-btn:hover {
  color: white;
  background-color: #5a1eb9;
}
/******** Navbar ******/

/****** Login.js ******/

.logo {
  width: 100px;
  height: 100px;
}
.btn-login {
  background-color: #5a1eb9;
  transition: 0.5s ease-in-out;
  color: white;
  border: none;
}
.btn-login:hover {
  color: white;
  background-color: #cb0098;
}
/****** Login.js ******/

/******** Home.js *****/
.loader {
  height: 100%;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 300px;
  cursor: pointer;
  border: none;
  background-color: #ededed;
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.card:hover {
  -webkit-box-shadow: 6px 5px 15px 7px rgba(0, 0, 0, 0.84);
  box-shadow: 6px 5px 15px 7px rgba(0, 0, 0, 0.84);
}

img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border: none;
  border-radius: 20px;
}

.title-block {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: white;
  color: black;
  font-weight: 700;
  padding: 4px 6px 0px 6px;
  border-radius: 5px;
}
.title-block h6 {
  font-weight: 600;
}
.category-block {
  position: absolute;
  top: 45px;
  left: 16px;
  background-color: white;
  color: black;
  padding: 4px 6px 0px 6px;
  border-radius: 5px;
}
.category-block h6 {
  font-weight: 600;
}

.deleteBtn-block {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: red;
  color: white;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
}
.fa-trash {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.timer-block {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cb0098;
  color: white;
  padding: 3px 4px 1px 4px;
  border-radius: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 150px;
  border: 1px solid gray;
}

.btn-div {
  display: flex;
  gap: 10px;
}
.search-div {
  width: 40%;
}
.search-div input {
  border: 1px solid #5a1eb9;
}

/******** Home.js *****/

/********* DealCreate.js *******/
.add-form {
  width: 50%;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 30px 30px;
  background-color: #ededed;
  margin: 30px auto;
}
.add-deal-btn-lg {
  padding: 5px 5px;
  color: white;
  background-color: #5a1eb9;
  transition: 0.5s ease-in-out;
}
.add-deal-btn-lg:hover {
  color: white;
  background-color: #cb0098;
}
/********* DealCreate.js *******/
.update-deal-btn-lg {
  padding: 5px 5px;
  color: white;
  background-color: #5a1eb9;
  transition: 0.5s ease-in-out;
}
.update-deal-btn-lg:hover {
  color: white;
  background-color: #cb0098;
}
.img-preview {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/********* DealEdit.js ******/

/********* DealEdit.js *******/

/******Login.js ******/
.form-div {
  margin: 50px auto;
  background-color: #d9c8f4;
  padding: 30px;
  width: 40%;
  border-radius: 10%;
}

/******Login.js ******/
